@page "/employees"

@if (loading)
{
    <Loading />
}
else
{
    <MudTable Items="@Employees"
              @ref="table"
              ServerData="LoadListAsync"
              Dense="true"
              Hover="true"
              Striped="true"
              FixedHeader="true"
              FixedFooter="true">
        <ToolBarContent>
            <div class="d-flex justify-content-between">
                <MudText Typo="Typo.h6" Class="me-4">Empleados</MudText>
                <MudButton Variant="Variant.Outlined"
                           EndIcon="@Icons.Material.Filled.Add"
                           Color="Color.Info" OnClick="@(() => ShowModalAsync())">
                    Nuevo
                </MudButton>
            </div>
            <MudSpacer />
            <FilterComponent ApplyFilter="SetFilterValue" />
        </ToolBarContent>
        <HeaderContent>
            <MudTh style="min-width: 160px;">Nombre</MudTh>
            <MudTh style="min-width: 160px;">Apellido</MudTh>
            <MudTh style="min-width: 100px;">Activo</MudTh>
            <MudTh style="min-width: 180px;">Fecha de Contratación</MudTh>
            <MudTh style="min-width: 130px; ">Salario</MudTh>
            <MudTh style="min-width: 200px;">Acciones</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.FirstName</MudTd>
            <MudTd>@context.LastName</MudTd>
            <MudTd>@context.IsActive</MudTd>
            <MudTd>@(context.HireDate.HasValue? context.HireDate.Value.ToLocalTime().ToString("dd/MM/yyyy") : "")</MudTd>
            <MudTd>@context.Salary.ToString("N0")</MudTd>
            <MudTd>
                <MudTooltip Text="Editar">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Warning"
                               OnClick="@(() => ShowModalAsync(context.Id, true))">
                        <MudIcon Icon="@Icons.Material.Filled.Edit" />
                    </MudButton>
                </MudTooltip>
                <MudTooltip Text="Borrar">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Error"
                               OnClick="@(() => DeleteAsync(@context))">
                        <MudIcon Icon="@Icons.Material.Filled.Delete" />
                    </MudButton>
                </MudTooltip>
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>"No hay registros"</MudText>
        </NoRecordsContent>
        <PagerContent>
            <MudTablePager RowsPerPageString="Número de registros"
                           PageSizeOptions="pageSizeOptions"
                           AllItemsText="Todo"
                           InfoFormat="@infoFormat" />
        </PagerContent>
    </MudTable>
}
